.homePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;
}

.username {
  margin-right: 15px;
}

.logoutBtn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  margin-top: 50px;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.listContainer {
  width: 600px;
  max-width: 90%;
  background: #f2f2f2;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 16px;
  padding: 5px;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-size: 16px;
  padding: 5px;
}

.addBtn {
  margin-top: 15px;
  padding: 10px 15px;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.iconSpacing {
  font-size: 18px;
}
