.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 100;
}

.username {
  margin-right: 15px;
}

.logoutBtn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
